body {
  background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('../images/universe.jpg');
  background-size: cover;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

main {
  margin: 200px;
}

h1,
p {
  background-color: black;
  display: table;
  font-weight: normal;
  letter-spacing: .2rem;
  line-height: 2.5rem;
  padding: 10px;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

a {
  color: white;
  text-underline-offset: .3rem;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 812px) {
  main {
    margin: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1.2rem;
  }
}